body {
    --nav-width: 200px;
    margin: 0 0 0 var(--nav-width);
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--nav-width);
    height: 100vh;
    background: #222222;
}

.nav__link {
    display: block;
    padding: 12px 18px;
    text-decoration: none;
    color: #eeeeee;
    font-weight: 500;
}

.nav__link:hover {
    background: rgba(255, 255, 255, 0.05);
}

#app {
    margin: 2em;
    line-height: 1.5;
    font-weight: 500;
}

a {
    color: #010202;
}

th,
td {
    padding: 1px;
}

table,
th,
td {
    border: 3px solid black;
}

form {
    border: 3px solid #f1f1f1;
}

input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 20%;
}


/* Add a hover effect for buttons */

button:hover {
    opacity: 0.8;
}


/* Extra style for the cancel button (red) */

.cancelbtn {
    padding: 14px 20px;
    width: 20%;
    background-color: #f44336;
}

.atualizarButton {
    background-color: blue;
    color: white;
    padding: 14px 20px;
    width: 20%;
}

.container {
    position: relative;
    align-self: center;
    left: 50px;
}

.table-peq {
    width: 25%;
}

.table-med {
    width: 50%;
}

.table-grand {
    width: 80%;
}

img {
    width: var(--nav-width);
    height: auto
}